.flex-all-center{
        display: flex;
        justify-content: center;
        align-items: center;
    
   
}
.btn{
    padding: 9px 7px;
    color: black;
    border: white;
    border-radius: 4px;
    cursor: pointer;
    background: whitesmoke;
    width: 3vw;
}

.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 24px,0;
}
.text-center{
    text-align: center;
}